<ion-header>
  <ion-toolbar>
    <ion-title>Ficha de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title> {{usuarioActivo.usuarioActivo.nombre}} {{usuarioActivo.usuarioActivo.apellido}}</ion-card-title>
    <ion-item>
      <ion-label>DNI: {{usuarioActivo.usuarioActivo.dni}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Edad: {{usuarioActivo.usuarioActivo.edad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{usuarioActivo.usuarioActivo.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Localidad: {{usuarioActivo.usuarioActivo.localidad}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefono: {{usuarioActivo.usuarioActivo.telefono}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
